<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assetes/loginStyle.css" />
    <title>Forum - Signup</title>
  </head>
  <body>
    <div class="container">
      <form action="" method="post">
        <h1>Sign In</h1>
        {{if .UserNameErr}}
        <div class="err">
          <h6>{{.UserNameErr}}</h6>
        </div>
        {{end}} {{if .UserEmailErr}}
        <div class="err">
          <h6>{{.UserEmailErr}}</h6>
        </div>
        {{end}}
        <div>
          <label for="name">Username</label>
          <input
            id="name"
            name="Name"
            type="text"
            placeholder="Enter Your Username"
          />
          {{if .ErrName}}
          <div class="err">
            <p>{{ .ErrName }}</p>
          </div>
          {{end}}
        </div>
        <div>
          <label for="Email">Email</label>
          <input
            id="Email"
            name="Email"
            type="email"
            placeholder="Enter Your Email"
          />
          {{if .ErrEmail}}
          <div class="err">
            <p>{{ .ErrEmail }}</p>
          </div>
          {{end}}
        </div>
        <div>
          <label for="Password">Password</label>
          <input
            id="Password"
            name="Password"
            type="password"
            placeholder="Enter Your Password"
          />
          {{if .ErrPass}}
          <div class="err">
            <p>{{.ErrPass }}</p>
          </div>
          {{end}}
        </div>
        <div>
          <p>I have Account<a href="login">log in</a></p>
        </div>
        <div class="btndiv">
          <button type="submit">Sign up</button>
        </div>
      </form>
    </div>
  </body>
</html>
